@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import '/public/fonts/devpatro/styles.css';


@tailwind base;
@tailwind components;
@tailwind utilities;



/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}



@layer base {

    /* Regular Fonts */
    @font-face {
        font-family: 'Plus Jakarta Sans';
        src: url('/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Plus Jakarta Sans';
        src: url('/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Italic.ttf') format('truetype');
        font-weight: 400;
        font-style: italic;
        font-display: swap;
    }

    /* Light Fonts */
    @font-face {
        font-family: 'Plus Jakarta Sans';
        src: url('/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Light.ttf') format('truetype');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Plus Jakarta Sans';
        src: url('/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-LightItalic.ttf') format('truetype');
        font-weight: 300;
        font-style: italic;
        font-display: swap;
    }

    /* Extra Light Fonts */
    @font-face {
        font-family: 'Plus Jakarta Sans';
        src: url('/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-ExtraLight.ttf') format('truetype');
        font-weight: 200;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Plus Jakarta Sans';
        src: url('/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-ExtraLightItalic.ttf') format('truetype');
        font-weight: 200;
        font-style: italic;
        font-display: swap;
    }

    /* Medium Fonts */
    @font-face {
        font-family: 'Plus Jakarta Sans';
        src: url('/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Medium.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Plus Jakarta Sans';
        src: url('/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-MediumItalic.ttf') format('truetype');
        font-weight: 500;
        font-style: italic;
        font-display: swap;
    }

    /* Semi Bold Fonts */
    @font-face {
        font-family: 'Plus Jakarta Sans';
        src: url('/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-SemiBold.ttf') format('truetype');
        font-weight: 600;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Plus Jakarta Sans';
        src: url('/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-SemiBoldItalic.ttf') format('truetype');
        font-weight: 600;
        font-style: italic;
        font-display: swap;
    }

    /* Bold Fonts */
    @font-face {
        font-family: 'Plus Jakarta Sans';
        src: url('/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Plus Jakarta Sans';
        src: url('/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-BoldItalic.ttf') format('truetype');
        font-weight: 700;
        font-style: italic;
        font-display: swap;
    }

    /* Extra Bold Fonts */
    @font-face {
        font-family: 'Plus Jakarta Sans';
        src: url('/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-ExtraBold.ttf') format('truetype');
        font-weight: 800;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Plus Jakarta Sans';
        src: url('/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-ExtraBoldItalic.ttf') format('truetype');
        font-weight: 800;
        font-style: italic;
        font-display: swap;
    }

    html {
        font-family: 'Plus Jakarta Sans', sans-serif;
    }

    body {
        background: url(/public/boxed-bg.png) repeat;
        font-family: "Poppins", serif;
        font-weight: 400;
        font-size: 16px;
    }


    body,
    #root {
        --bg-300: 210 40% 96%;
        /* Example HSL values - adjust as needed */
        --bg-400: 210 40% 90%;
        /* Example HSL values - adjust as needed */
        --border-300: 210 40% 96%;
        width: 100vw;
        min-height: 100vh;
        margin: 0;
        padding: 0;
        overflow-x: hidden;

        --color-primary: #635BFF;
        --color-secondary: #16CDC7;
        --color-primary-emphasis: #5249fe;
        --color-secondary-emphasis: #1cc3bd;
        --color-lightprimary: rgb(253, 253, 253);
        --color-lightsecondary: rgba(22, 205, 199, 0.25);
        --color-primary-rgb: 99, 91, 255;
        --color-secondary-rgb: 20, 233, 226;
        --color-background: #FFFFFF;
        --color-text: #002864;
        --color-text-secondary: #587197;
        --color-border: #f3f4f6;
        --color-success: #405F1F;
        --color-error: #EE6F6F;
        --color-warning: #FFE3C9;
    }

    .min-h-screen {
        /* background: #FFFF !important; */
        min-height: 100vh;
        /* Fallback */
        min-height: -webkit-fill-available;
    }

    .bg-secondary {
        background-color: var(--color-secondary);
    }

    .bg-primary {
        background-color: var(--color-primary);
    }

    .bg-lightprimary {
        background-color: var(--color-lightprimary);
    }

    .text-homer-blue {
        color: #002864 !important;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        font-family: 'Plus Jakarta Sans', sans-serif;
    }

    .text-homer-blue-2 {
        color: #002864 !important;
        font-weight: 700;
        font-size: 24px;
        font-family: 'Plus Jakarta Sans', sans-serif;
    }

    .font-13 {
        font-size: 13px;
    }

    .font-9 {
        font-size: 9px;
    }

    .bg-lightsecondary {
        background-color: var(--color-lightsecondary);
    }

    .text-homer-blue-400 {
        color: #002864 !important;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        font-family: 'Plus Jakarta Sans', sans-serif;
    }

    .text-homer-blue-9 {
        color: #002864 !important;
        font-weight: 400;
        font-size: 9px;
        line-height: 30px;
        font-family: 'Plus Jakarta Sans', sans-serif;
    }

    .property-card {
        background-color: white;
        border: 1px solid #f3f4f6;
        border-radius: 12px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        transition: box-shadow 0.2s ease;
    }

    .top-container{
        height: 100px;
        max-height: 120px;
    }
    .report-card {
        border-width: 1px;
        border-radius: 0.5rem;     
    }

    .metric-card {
        background-color: var(--color-background);
        border-radius: 1rem;
        padding: 1.5rem;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s ease, box-shadow 0.2s ease;
    }

    .metric-card-new {
        padding: 0;
        border-style: solid;
        border-width: 1px 1px 1px 1px;
        border-color: #FFFFFF;
        background-color: #FFFFFF;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 7px 5px 30px 0px rgba(0, 0, 0, 0.12);
        overflow:hidden;
    }

    .text-homer-blue-16 {
        color: #002864 !important;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        font-family: 'Plus Jakarta Sans', sans-serif;
    }

    .text-homer-homer-34 {
        font-weight: 800;
        font-size: 34px;
        line-height: 43px;
        background: -webkit-linear-gradient(#EE7B6F 0%,
                #D54233 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .text-homer-blue-600-12 {
        color: #002864 !important;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        font-family: 'Plus Jakarta Sans', sans-serif;
    }


    .button-delete {
        background: linear-gradient(90deg, #EE7B6F 0%, #D54233 100%);
    }

    .button-homer-signin {
        height: 50px;
        background: linear-gradient(90deg, #EE7B6F 0%, #D54233 100%);
    }

    .nav-item {
        height: 50px;
        background: linear-gradient(90deg, #FFF4E8 0%, #F9E7D4 100%);
    }

    .nav-item-selected {
        height: 50px;
        background: linear-gradient(90deg, #F4D7B7 0%, #FFF4E8 100%);
    }

    .button-homer-search {

        background: linear-gradient(135deg, #4768b8 14.88%, #0C1B3D 87.5%);
    }

    .button-homer-orange {

        background: linear-gradient(135deg, #ED7A6E 14.88%, #D54334 87.5%);
    }

    .border-homer-propertytype-not-selected {
        border: 0.72px solid #F4D7B7 !important;
    }

    .border-homer-propertytype-selected {
        border: 2px solid #EE7B6F !important;
    }

    .side-panel-bg {
        background: #F4D7B7;
    }

    .side-panel-selected-item-bg {
        background: #F9E7D4;
    }

    .side-panel-user-bg {
        background: linear-gradient(90deg, #EE7B6F 0%, #D54233 100%);
    }

    .date-range-item-not-selected {
        border: 0.81px solid #F4D7B7;
        background: #FFF4E8;
    }

    .date-range-item-selected {
        border: 2px solid #EE7B6F !important;
        background: #FFF4E8;
    }

    .recommended-text {
        color: #587197 !important;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        font-family: 'Plus Jakarta Sans', sans-serif;
    }

    .listing-card-mls-badge {
        background: #FFE3C9;
        gap: 10px;
        border-radius: 30px;
        width: 100px;
        padding: 1px;
        text-align: center;
        opacity: 0px;
    }

    .hide-show-btn {
  cursor: pointer !important;
}

    .listing-card-mls-badge-label {
        color: #1F2937;
        font-weight: 500;
        font-size: 10px;
    }

        .listing-card-content{
            height: 120px;
        }

    .start-report {
        @apply w-full flex flex-col items-center justify-center;
        padding: 80px 0 60px;
        /* Adjusted padding for better vertical spacing */
    }

    .start-report-first-label {
        @apply text-xl font-bold text-gray-900;

        @screen sm {
            font-size: 1.125rem;
            /* text-lg */
        }

        @screen md {
            font-size: 3rem;
            /* text-5xl */
        }

        @screen lg {
            font-size: 3.25rem;
            /* text-6xl */
        }

        font-family: 'Plus Jakarta Sans',
        sans-serif;
    }

    .start-report-second-label {
        @apply text-sm lg:text-2xl md:text-2xl text-gray-600 mb-2;
        /* Reduced bottom margin */
        font-family: 'Plus Jakarta Sans', sans-serif;
    }

    .search-input-container {
        @apply relative w-full max-w-3xl mx-auto;
    }

    .listing-card {
        background-color: white;
        cursor: pointer;
    }

    .button-blue {
        background: linear-gradient(135deg, #4768b8 14.88%, #0C1B3D 87.5%) !important;
    }

    .for-sale {
        background-color: #405F1F;
    }

    .sold {
        background-color: #EE6F6F !important;
    }

    .report-toolbar {
        border: none !important;
    }

    .listing-container {
        background-color: rgb(243 244 246);
        border-radius: 0.5rem;
        padding: 10px;
    }

    .metric-card-text {
        font-size: 18px;
        font-weight: 900;
        font-family: 'Plus Jakarta Sans', sans-serif;
        color: #0C1B3D !important;
    }

    .section {
        background-color: pink;
    }

    .price-sort {
        background-color: #E9E9E9 !important;
    }

    .listing-map-show-hide-listing {}

    .greeting {
        color: #615E83;
        font-family: 'Plus Jakarta Sans', sans-serif;

        @screen sm {
            font-size: 1rem;
            /* text-lg */
        }

        @screen md {
            font-size: 1.75rem;
            /* text-5xl */
        }

        @screen lg {
            font-size: 2rem;
            /* text-6xl */
        }
    }

    .card {
        padding: 0px !important;
    }

    .card-active {
        border: solid 2px rgb(59 130 246);
    }

    /* Update media queries accordingly */
    @media (max-width: 640px) {
        .start-report {
            min-height: 250px;
            padding: 15px;
        }
    }

    @media (max-width: 768px) {
        .start-report {
            border-radius: 0;
            margin-right: -1rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}




.report-header {
    background-color: #162452;
    position: relative;
    padding: 30px 0;
}

.report-header:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: url(/technology-bg.png) no-repeat bottom;
    background-size: contain;
    opacity: .05;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.bouncing-image {
    display: inline-block;
    animation: bounce 2s ease-in-out infinite;
  }
@keyframes bounce {
    0%, 100% {
      transform: translateY(0); /* No movement */
    }
    50% {
      transform: translateY(-10px); /* Move up slightly */
    }
  }